h3.my-3
  = @warehouse.title

= link_to "Доставка товаров", products_path, class: "btn btn-success my-1"
br
= link_to "История доставки", products_path, class: "btn btn-success my-1"
br
= link_to 'Назад', warehouses_path
